<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77104933129-hssda7nfd5t76khp4pm0kaa44tdn6up5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77104933129-hssda7nfd5t76khp4pm0kaa44tdn6up5</string>
	<key>API_KEY</key>
	<string>AIzaSyCnVhAw28uYNKWq0tfx611mSKiJpZWiVds</string>
	<key>GCM_SENDER_ID</key>
	<string>77104933129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.driversapp</string>
	<key>PROJECT_ID</key>
	<string>uberclonesample-959db</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclonesample-959db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77104933129:ios:343407091af2e2db51cbd8</string>
	<key>DATABASE_URL</key>
	<string>https://uberclonesample-959db-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>